/* src/index.css
@tailwind base;
@tailwind components;
@tailwind utilities; */

#root {
  margin: 0;
}

*{
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pml{
  display: flex;
}

.second{
  width: 35em;
  height: 16em;
}

.first{
  width: 200px;
  height: 80px;
}

.last{
  width: 200px;
  height: 80px;
}

.div-first{
  display: flex;
  margin-top: 100px;
}

.div-last{
  display: flex;
  margin-top: 100px;
}

.latest{
  width: auto;
}

h1{
  margin-top: 100px;
}

.middle{
  position: relative;
  text-align: center;
  color: black;
}

h4{
  text-align: left;
}

.centered {
  position: absolute;
  top: 65%;
  left: 25%;
  align-items: center;
  text-decoration: underline;
  /* transform: translate(-70%, -30%); */
}